.places__title {
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    font-family: 'Inter', Arial, Helvetica, sans-serif;

    margin: 0;

}

@media (max-width: 888px) {
    .places__title {
        font-size: 62px;

        line-height: 68px;
    }
}

@media (max-width: 768px) {
    .places__title {
        font-size: 42px;

        line-height: 46px;
    }
}

@media (max-width: 651px) {
    .places__title {
        text-align: center;
    }
}

@media (max-width: 320px) {
    .places__title {
        font-size: 32px;
        text-align: left;
        line-height: 35px;
        padding: 0 16px 0;
        
    }
}