.footer__links-container {
    font-size: 0;
    display: flex;
    padding: 0;
}

@media (max-width:750px) {
    .footer__links-container {
        justify-content: center;
        margin-bottom: 48px;
    }
}

@media (max-width:540px) {
    .footer__links-container {

        flex-direction: column;
        margin: 0;

    }
}