.places__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
    color: #FFFFFF;


}

@media (max-width: 768px) {
    .places__text {
        font-size: 16px;
    }
}

.places__text:nth-child(1) {
    margin-bottom: 26px;
}

@media (max-width:651px) {
    .places__text:nth-child(1) {
        margin-bottom: 25px;
    }
}

@media (max-width:320px) {
    .places__text {
        padding: 0 16px 0;
    }
}