.footer__links {
    margin-left: 18px;
    list-style: none;
}

.footer__links:first-child {
    margin-left: 0;
}


@media (max-width:540px) {
    .footer__links {
        margin: 0 0 32px;
    }

    .footer__links:last-child {
        margin-bottom: 48px;
    }
}