.cover__image {
    background-image: url(../../../images/cover-trains.jpg);

    width: 100%;
    height: 100%;
    max-width: 1184px;
    min-height: 740px;
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;

    z-index: 0;


    opacity: .8;
}

@media (max-width: 1024px) {
    .cover__image {
        max-width: 1024px;
        min-height: 640px;

    }
}

@media (max-width: 768px) {
    .cover__image {
        max-width: 100%;
        min-height: 480px;

    }
}

@media (max-width: 320px) {
    .cover__image {
        max-width: 320px;
        min-height: 200px;

    }
}

.cover__image:hover {
    opacity: .3;
}