.lead__container {
    max-width: 984px;


    margin: auto;

}

@media (max-width: 1024px) {
    .lead__container {
        max-width: 928px;

    }
}

@media (max-width: 768px) {
    .lead__container {
        max-width: 768px;

    }
}