.intro__title {
    max-width: 690px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    margin: 92px 0 0 0;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    color: #FFFFFF;

}

@media (max-width: 768px) {
    .intro__title {
        max-width: 720px;
        margin: 88px 0 0 0;
    }
}

@media (max-width:738px) {
    .intro__title {
        font-size: 42px;
        line-height: 45px;
    }
}

@media (max-width: 368px) {
    .intro__title {

        font-size: 32px;
        line-height: 35px;
    }
}

@media (max-width: 320px) {
    .intro__title {
        margin: 64px 0 0 0;
        font-size: 32px;
        line-height: 35px;
    }
}